main.container {

}

section.iso-dependents-wrapper .buttons > button {
  margin-left: 5px;
}

main .iso-dependent {
  background-color: #eeeeee;
  margin-bottom: 20px;
}

main .buttons {
  border-top: 1px solid grey;
  padding-top: 10px;
}